@charset "UTF-8";


body, input, button {
	font-family: 'Roboto', sans-serif;
}

body {
	background: #edf0f1;
	padding: 80px 0 0 0;
}

header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 15px;
	z-index: 5;
	background: #25b99a;
	box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

header input {
	width: 100%;
	height: 50px;
	float: left;
	color: #fff;
	text-indent: 15px;
	background: rgba(255,255,255,0.2);
	border-radius: 5px;
	padding: 0 60px 0 0;
	font-weight: 400;
	font-size: 15px;
	border-top-right-radius: 25px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 5px;
	box-shadow: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

header input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}
header input:-moz-input-placeholder {
	color: rgba(255,255,255,0.75);
}
header input::-moz-input-placeholder {
	color: rgba(255,255,255,0.75);
}
header input::-ms-input-placeholder {
	color: rgba(255,255,255,0.75);
}

header button#add {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
	border-radius: 25px;
	border: 0px;
	box-shadow: none;
	outline: none;
	background: #fff;
	cursor: pointer;

	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

header button i {
	color: #25b99a;
}

header button#settings {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 60px;
	right: 3px;
	background: #fff;
	cursor: pointer;
	border-radius: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: non
}

.container {
	width: 100%;
	float: left;
	padding: 15px;
}

ul.todo {
	width: 49%;
	float: left;

}

ul.todo li {
	word-wrap: break-word;
	width: 100%;
	min-height: 50px;
	font-size: 14px;
	float: left;
	font-weight: 500;
	color: #444;
	line-height: 22px;
	background: #fff;
	position: relative;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(44,62,80,0.10);
	margin: 0 0 10px 0;
	padding: 14px 100px 14px 15px;

}

ul.todo li:last-of-type {
	margin: 0;
}

ul.todo li .buttons {
	width: 100px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

ul.todo li .buttons button {
	width: 50px;
	height: 50px;
	float: left;
	background: none;
	position: relative;
	border: 0;
	box-shadow: none;
	outline: none;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
	content: '';
	width: 1px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 0;
	background: #edf0f1;
}


ul.todo li .buttons button .fa {
	color: #edf0f1;
}

ul.todo li .buttons button.remove:hover i.fa-trash-o {
	color: #F7071B;
}

ul.todo#todo li .buttons button.complete:hover i.fa-check {
	background: #25b99a;
}

ul.todo#completed li .buttons button.complete:hover i.fa-check {
	background: none;
	border-radius: 15px;
	border: 2px solid;
	padding: 7px;
	border-color: #eee;
	color: #edf0f1;
}

ul.todo li .buttons button.remove i.fa-trash-o {
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}


ul.todo li .buttons button.complete i.fa-check {
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	-webkit-transition: background .2s ease;
	-moz-transition: background .2s ease;
	-ms-transition: background .2s ease;
	-o-transition: background .2s ease;
	transition: background .2s ease;
}

ul.todo li .buttons button.complete i {
	border-radius: 15px;
	border: 2px solid;
	padding: 7px;
}

ul.todo#completed li .buttons button.complete i.fa-check{
	background: #25b99a;
	color: #fff;
	border: 0px
}

ul.todo#todo {
	position: relative;
	float: left;
	padding: 20px 0 0 0;
}
ul.todo#completed {
	position: relative;
	float: right;
	padding: 20px 0 0 0;
}

ul.todo#todo:empty:before,
ul.todo#completed:empty:before {
	content: '';
	width: 150px;
	height: 1px;
	background: #D3D3D3;
	position: absolute;
	top: 15px;
	left: 50%;
	margin: 0 0 0 -75px	
}


ul.todo#completed:empty:after {
	content: 'You have yet to complete any tasks.';
	width: 100%;
	display: block;
	text-align: center;
	font-size: 12px;
	color: #aaa;
	margin: 20px 0 0 0;
}

ul.todo#todo:empty:after {
	content: 'You have nothing to do.';
	width: 100%;
	display: block;
	text-align: center;
	font-size: 12px;
	color: #aaa;
	margin: 20px 0 0 0;
}


.listTitle {
	width: 49%;
	margin: 0;
	padding: 0;
	width: 49%;
	display: block;
	text-align: center;
	font-size: 16px;
	color: #aaa;
	padding: 10px 0 10px 0;
}

#todoList {
	float: left;

}
#completedList {
	float: right;
}
